.exp {
    width: 100%;
    float: left;
    display: inline-block;
    overflow: auto;
}
.exp-left {
    width: 20%;
    float: left;
}
.exp-right {
    width: 80%;
    height: 620px;
    float: right;
}
.exp-left a {
    width: 100%;
}
#test1 {
    display: block;
}