.playmusic {
    display: none;
    top: 100px;
    margin-left: 5px;
    position: absolute;
}
.playmusic iframe {
    width: 854px;
    height: 480px;
}
.baoham {
    width: 50%;
    right: 350px;
    top: 90px;
    position: absolute;
}
.over_listmusic {
    width: 100%;
    height: 120px;
    left: 0;
    margin: 10px auto;
    position: relative;
}
.list, .href_music {
    width: 100%;
    height: 120px;
    top: 0;
    left: 0;
    position: absolute;
    border: solid 1px black;
}
.href_music {
    z-index: 1;
}
.showmusic {
    display: inline-block;
    float: left;
}
.showleft {
    width: 40%;
    height: 100%;
}
.showleft img {
    width: 100%;
    height: 100%;
}
.showright {
    padding-left: 20px;
}
/* .href_music {
    width: 100%;
    height: 120px;
    z-index: 1;
    margin: 10px auto;
    margin-top: 10px;
    border: solid 1px red;
} */